version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: distribuidora-api
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - DB_USER=your_db_user
      - DB_PASSWORD=your_db_password
      - DB_HOST=your_db_host
      - DB_NAME=your_db_name
      - DB_ENCRYPT=false
      - DB_TRUST_SERVER_CERTIFICATE=true
    networks:
      - distribuidora-network

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: distribuidora-worker
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - SMTP_HOST=your_smtp_host
      - SMTP_PORT=587
      - SMTP_USER=your_smtp_user
      - SMTP_PASS=your_smtp_password
      - DB_USER=your_db_user
      - DB_PASSWORD=your_db_password
      - DB_HOST=your_db_host
      - DB_NAME=your_db_name
      - DB_ENCRYPT=false
      - DB_TRUST_SERVER_CERTIFICATE=true
    networks:
      - distribuidora-network

  rabbitmq:
    image: rabbitmq:3.9-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - distribuidora-network

networks:
  distribuidora-network:
    driver: bridge